<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.moon.samples">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:logo="@android:drawable/ic_menu_today">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".handler_thread.HandlerThreadActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="app1a1"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".annotation.AnnotationActivity"/>
        <activity android:name=".rxjava2.RxJava2Activity"/>
        <activity android:name=".dsbridge.DSBridgeActivity"/>
        <activity android:name=".onmeasure_onlayout.OnMeasure2OnLayoutActivity"/>
        <activity android:name=".jsoupcrawler.view.JsoupActivity"/>
        <activity android:name=".propertyanimator.PropertyAnimatorActivity"/>
        <activity android:name=".bottomsheet.BottomSheetActivity"/>
        <activity android:name=".databinding.DataBindingDemoActivity"/>

        <meta-data
            android:name="com.moon.samples.databinding.fixglidehttps.SimpleGlideModule"
            android:value="GlideModule"/>

        <activity android:name=".webview.NativeWebViewActivity"/>
        <activity android:name=".support_annotations.SupportAnnotationDemoActivity"/>
        <activity android:name=".custom_recyclerview.CustomRecyclerViewActivity"/>
        <activity android:name=".jni.JniActivity"/>
        <activity android:name=".dispatch_event.TestDispatchTouchEventActivity"/>
        <activity android:name=".constraintlayout.ConstaintlayoutActivity"/>
        <activity android:name=".bindservice.BindServiceActivity"/>

        <service android:name=".bindservice.MyBindedService"/>

        <!-- 开了个新进程 -->
        <activity
            android:name=".messenger_ipc.MessengerIPCActivity"
            android:process=".messengeripc"/>

        <!-- 远程调用的service （测试 messenger形式的 IPC） -->
        <service android:name=".messenger_ipc.service.MessengerService">
            <intent-filter>
                <action android:name="com.moon.samples.test.messenger.ipc"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <activity android:name=".scroller.ScrollerDemoActivity"/>
        <activity android:name=".arouter_a.ARouter_A_Activity">
        </activity>
    </application>

</manifest>